<h1>タスクリスト一覧</h1>

<% if @tasks.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr>
          <td><%= link_to t.id, t %></td>
          <td><%= t.status %></td>
          <td><%= t.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= paginate @tasks %>    
  </div>

<% end %>

<%= link_to 'タスクリストを登録する', new_task_path, class: 'btn btn-primary' %>