<h1>id = <%= @task.id %>のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %>
  </tr>
</table>

<%= link_to 'このタスクを更新する', edit_task_path, class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？'},class: 'btn btn-danger' %>